body{
  font-family: 'Roboto', sans-serif;
}
.hBJaMjXyxFmC{
  margin-top: 5%;
}
.wENdLuVNcKKE{
  margin-left: 17px;
}
.HPKMsqpjDOti{
  background-color: #00b0f0;
}
.EyvCTcApeuLX{
  margin-top: 15%;
  color: black;
}
.bQUvZnCHJdwd{
  text-align: center;
  font-size: 72px;
}
.MjURNamWKmpX{
  text-align: center;
  font-size: 24px;
  line-height: 0px;
  margin-bottom: 10px;
}
.gVxLJhKNTPDDW{
  margin-top: 100px;
  display: block;
  color: #000;
  background: #fff;
  padding: 20px;
  border: 2px solid #00b0f0;
  border-radius: 50px;
}
.gVxLJhKNTPDDW:hover{
  color: rgb(73, 73, 73);
}
.BvuerZMTKVny{
  margin-top: 7%;
  background-color: rgb(199, 199, 199);
  margin-left: 20%;
  margin-right: 20%;
}
.Tqwkg{
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
}
.Timg-style{
  border-radius: 50%;
  height: 100px;
}
.Ttitle{
  text-align: center;
}
.role{
  text-align: center;
}

.container {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 280px 280px 280px;
  grid-template-rows: 150px 150px;
  grid-gap: 1rem;
}
.item {
  padding: 0px;
  border-radius: 5px;
}
.title {
  text-align: center;
  color: #00b0f0;
  padding-left: 10px;
  font-size: 24px;
  line-height: 0px;
}

.con{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.qcmqw{
  line-height: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 42px;
  color: #00b0f0;
}

.aqdkq{
  color: #00b0f0;
}
.wegkwe{
  margin-bottom: 30px;
}
.team{
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

.teamhr{
  margin-top: 5%;
  margin-bottom: 5%;
}
.btteamone{
  padding: 10px;
  color: #00b0f0;
  font-size: 15px;
  border: 2px solid #00b0f0;
  border-radius: 25px;
}

.btteamtwo{
  margin-left: 10px;
  padding: 10px;
  color: #02b33d;
  font-size: 15px;
  border: 2px solid #02b33d;
  border-radius: 25px;
}

.support{
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 3%;
}

.support hr{
  margin-top: 5%;
  margin-bottom: 3%;
}

.btn-support-open{
  padding: 10px;
  color: #00b0f0;
  font-size: 15px;
  border: 2px solid #00b0f0;
  border-radius: 25px;
}

.btn-support-patreon{
  margin-left: 10px;
  padding: 10px;
  color: #ff3300;
  font-size: 15px;
  border: 2px solid #ff3300;
  border-radius: 25px;
}

.sponsor-h{
  line-height: 32px;
  margin-top: 5%;
}

.sponsor-p{
  line-height: 18px;
  margin-bottom: 5%;
}
.sponsor-br{
  margin-top: 10%;
}